@inherits LayoutComponentBase

<MudThemeProvider @bind-IsDarkMode="_isDarkMode" Theme="MyCustomTheme" />

<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudLayout>
    <MudAppBar Elevation="1">
        <MudStaticNavDrawerToggle DrawerId="nav-drawer" Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" />
        <MudImage Src="_content/AppLaunch.Themes/images/applaunch-logo.png" 
        Alt="AppLaunch Logo"
        Class="appbar-logo ml-3"
        Style="height:45px; width:auto; object-fit:contain; display:block;" />
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" />
        <MudIconButton
            Icon="@(_isDarkMode ? Icons.Material.Filled.DarkMode : Icons.Material.Filled.LightMode)"
            Color="Color.Inherit"
            Edge="Edge.End"
            OnClick="ToggleDarkMode"
            aria-label="Toggle dark mode" />

    </MudAppBar>
    <MudDrawer id="nav-drawer" @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        <NavMenu />
    </MudDrawer>
    <MudMainContent Class="pt-16 pa-4">
        @Body
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>



@code {
    private bool _isDarkMode=false;
    private bool _drawerOpen = true;
    private MudTheme MyCustomTheme = new MudTheme()
    {
        PaletteLight = new PaletteLight()
        {
            Primary = "#FFA500", // Soft blue
            Secondary = "#607D8B", // Cool gray
            AppbarBackground = "#404040", // Light gray
            AppbarText = "#dadada", // Dark gray
            Background = "#F5F5F5", // Neutral light
            TextPrimary = "#202020", // Almost black
            TextSecondary = "#757575", // Medium gray

        },
        PaletteDark = new PaletteDark()
        {
            Primary = "#FFA500", // Deep blue
            Secondary = "#37474F", // Dark gray
            AppbarBackground = "#202020", // Dark gray
            AppbarText = "#ECEFF1", // Light gray
            Background = "#404040", // Dark base
            TextPrimary = "#E0E0E0", // Light gray
            TextSecondary = "#B0BEC5", // Muted gray

        },
        Typography = new Typography
        {
            H1 = new H1Typography()
            {
                FontSize = "2.5rem", // or any size you prefer
                FontWeight = "700"
            },
            H2 = new H1Typography()
            {
            FontSize = "2.0rem", // or any size you prefer
            FontWeight = "700"
        },
            H3 = new H1Typography()
            {
                FontSize = "1.5rem", // or any size you prefer
                FontWeight = "700"
            }
        }
    };
    
    private void ToggleDarkMode()
    {
        _isDarkMode = !_isDarkMode;
    }


}