@page "/Account/ForgotPasswordConfirmation"
@layout AppLaunch.Themes.Layout.AppLaunchSignIn

<PageTitle>Forgot password confirmation</PageTitle>

<h1>Forgot password confirmation</h1>
<p role="alert">
    Please check your email to reset your password.
</p>