@page "/admin/profile/"
@layout AppLaunchAdmin

<header class="page-header">
    <h2>My Profile</h2>

    <div class="right-wrapper text-end">
        <ol class="breadcrumbs">
            <li>
                <a href="/admin">
                    <i class="bx bx-home-alt"></i>
                </a>
            </li>
            <li><span>Dashboard</span></li>
            <li><span>Profile</span></li>
        </ol>
        <a href="#">&nbsp;</a>
    </div>
</header>

<p>Under construction</p>

@code {
  

}