@page "/"
@using Microsoft.AspNetCore.Authorization
@attribute [AllowAnonymous]

<div class="center-image">
    <img src="_content/AppLaunch.Themes/images/applaunch_dev_light.png" alt="AppLaunch.dev Logo" />
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
    }
}